{{> head }}


{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Historia que tu hiciste, historia por hacer.. porque nadie reciste tus ganas de vencer</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/realmadrid_parche_13champions.png" class="img-thumbnail">
        </div>

    </div>

{{> footer }}